@use '../../../styles/breakpoints.scss';
@use '../../../styles/widths.scss';

.searchRow {
  display: flex;
  flex-direction: column-reverse;
  margin: var(--spacing-m) 0;

  @include breakpoints.medium-up {
    display: grid;
    grid-gap: var(--spacing-m);
    grid-template-columns: 1fr auto;
  }
}

.count {
  font-size: var(--fontsize-heading-xs);
  font-weight: 600;
  margin-top: var(--spacing-m);

  @include breakpoints.medium-up {
    margin-top: 0;
    display: flex;
    align-items: flex-end;
  }
}

.searchInput {
  --dropdown-border-color-default: var(--color-black-90);

  @include breakpoints.medium-up {
    @include widths.min-width-column(4);
  }
}
