@use './vendor/normalize';
@use 'fonts';
@use './vendor/hds';

html,
body {
  --label-height: 1.75rem;
  --focus-outline-width: 3px;
  --focus-outline-color: var(--color-coat-of-arms);
  --toastify-color-success: var(--color-success);

  padding: 0;
  margin: 0;
  font-size: var(--fontsize-body-m);
}

* {
  box-sizing: border-box;
  font-family: fonts.$font-family-base;
}
